# History files
.Rhistory
.Rapp.history

# Session Data files
#.RData

# User-specific files
#.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# quarto outputs
/.quarto/
/_site/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# all pdf files
*.pdf

# all csv/tsv files
*.csv
*.tsv

# all html files
*.html

# all excel files
*.xls*