# --- Archivos de sistema y RStudio ---
.Rhistory        # Historial de comandos
.RData           # Datos de la sesión actual
.Ruserdata       # Configuraciones de usuario
.Rproj.user/     # Archivos temporales de RStudio
.Renviron        # Variables de entorno (¡CUIDADO! Puede tener contraseñas)
.Rapp.history

# --- RStudio files ---
.Rproj.user/

# --- Datos pesados o sensibles ---
# Es mejor no subir datos crudos si son muy grandes (>50MB)
data/raw/*.csv
data/raw/*.xls*
data/processed/*.xls*
data/processed/*.rds
data/processed/*.RData
*.html
*.pdf

# --- Salidas y reportes temporales ---
*.utf8.md        # Archivos intermedios de RMarkdown
*.knit.md
# Caché de knitr y R Markdown
*_cache/         
/cache/
# quarto outputs
/.quarto/
/_site/
